<nav class="col-md-2 d-none d-md-block bg-light sidebar text-left">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a id="asideDashboardLink" title="Dashboard" class="nav-link" href="/admin/dashboard">
                                <i data-feather="home"></i>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="asideNewBlogPostLink" title="New Blog Post" class="nav-link" href="/admin/newBlogPost">
                                <i data-feather="file-plus"></i>
                                New Blog Post
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="asideAllBlogPostsLink" title="All Blog Posts" class="nav-link" href="/admin/allBlogPosts">
                                <i data-feather="book"></i>
                                All Blog Posts
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>