<form>
                        <div class="form-group text-left">
                            <label for="category">Category</label>
                            <input id="category" type="text" class="form-control"  placeholder="qa" />
                            <label for="date">Date</label>
                            <input id="date" type="text" class="form-control" placeholder="Jan 01, 2020" />
                            <label for="description">Description</label>
                            <input id="description" type="text" class="form-control" placeholder="A short tagline" />
                            <label for="slug">Slug</label>
                            <input id="slug" type="text" class="form-control" placeholder="a-short-tagline" />
                            <label for="thumbnail">Thumbnail</label>
                            <div class="input-group mb-3">
                                <input id="thumbnail" type="text" class="form-control" placeholder="/public/img/qa.png">
                                <div class="input-group-append">
                                    <button id="buttonViewThumbnail" type="button" class="btn btn-outline-secondary">View</button>
                                </div>
                            </div>
                            <label for="title">Title</label>
                            <input id="title" type="text" class="form-control" placeholder="Hello World!"/>
                            <!-- QuillJs editor container -->
                            <label for="editor">Content</label>
                            <div id="editor">
                            </div>
                            <br>
                            <button id="savePost" type="button" class="btn btn-primary">Save</button>
                        </div>
                    </form>