<footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a title="Back to top" href="#">Back to top</a>
            </p>
            <p>&copy; <%= new Date().getFullYear();%> Timothy Cope</p>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="//code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/feather-icons/4.10.0/feather.min.js"></script>
    <!-- Replace 'feather' icons -->
    <script>feather.replace()</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.9.6/holder.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
