<!-- HTML meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Timothy Cope - <%= title %></title>
    <!-- Open Graph Markup -->
    <meta name="author" property="og:author" content="Timothy Cope">
    <meta name="description" property="og:description" content="A portfolio site showcasing the talents of Timothy Cope.">
    <meta property="og:image" content="<%= previewImg %>" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="Timothy Cope" />
    <meta property="og:type" content="website" />
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">