<!DOCTYPE html>
<html lang="en">
<%- include ./partials/head/about.ejs %>
<body>
    <!-- Header -->
    <%- include ./partials/header/album.ejs %>
    <!-- Main -->
    <%- include ./partials/main/about.ejs %>
    <!-- Footer -->
    <%- include ./partials/footer/about.ejs %>
</body>
</html>