<!DOCTYPE html>
<html lang="en">
<%- include ./partials/head/album.ejs %>
<body>
    <!-- Header -->
    <%- include ./partials/header/album.ejs %>
    <!-- Main -->
    <%- include ./partials/main/album.ejs %>
    <!-- Footer -->
    <%- include ./partials/footer/album.ejs %>
</body>
</html>