<!DOCTYPE html>
<html lang="en">
<%- include ./partials/head/review-form.ejs %>
<body class="text-center">
    <!-- Header -->
    <%- include ./partials/header/admin.ejs %>
    <!-- Main -->
    <%- include ./partials/main/new-review.ejs %>
    <!-- Footer -->
    <%- include ./partials/footer/new-review.ejs %>
</body>
</html>