<!DOCTYPE html>
<html lang="en">
<%- include ./partials/head/signin.ejs %>
<body class="text-center">
    <!-- Main -->
    <%- include ./partials/main/signin.ejs %>
    <!-- Footer -->
    <%- include ./partials/footer/signin.ejs %>
</body>
</html>
