<main role="main">
        <!-- Call To Action -->
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Experience Summary</h1>
                <p class="lead text-muted">
                    More than <%= Math.abs(new Date().getUTCFullYear() - 2009); %> years of programming and quality assurance experience.<br />
                    Experience in Agency, Enterprise, Government, and Start-up.<br />
                    Support projects with millions of users and billions in transactions.
                </p>
            </div>
        </section>
        <!-- Project Cards -->
        <div class="album py-5 bg-light">
            <div class="container text-center">
                <h2 class="jumbotron-heading">PORTFOLIO</h2>
                <div id="myBtnContainer">
                    <button class="btn active" onclick="filterSelection('all')"> All</button>
                    <button class="btn" onclick="filterSelection('game')"> Games</button>
                    <button class="btn" onclick="filterSelection('pi')"> Raspberry Pi</button>
                    <button class="btn" onclick="filterSelection('test')"> Tests</button>
                </div>
            </div>
            </br>
            <div class="container">
                <div class="row" id="projects">
                </div>
            </div>
        </div>
    </main>