<form class="form-signin">
    <img class="mb-4" src="/public/img/timothy-cope-logo-98px.png" alt="Life Bouy Icon" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <!--
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    -->
    <button id="buttonSubmit" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <div id="alertMessage" class="alert alert-danger" role="alert" style="display: none;"></div>
    <p class="mt-5 mb-3 text-muted">&copy; <%= new Date().getFullYear();%> Timothy Cope</p>
</form>