<main role="main">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <img style="max-width: 85%; margin: 0 auto;" src="/public/img/timothy-cope.jpg" alt="Photograph of Timothy Cope"/>
            <h1 class="display-4">About Timothy Cope</h1>
            <!-- Lead In -->
            <p class="lead">
                More than <%= Math.abs(new Date().getUTCFullYear() - 2012); %> years programming and quality assurance experience.
            </p>
            <p class="lead">
                Experience in both Agency/Start-up and Enterprise environments.
            </p>
            <p class="lead">
                Support projects with millions of users and billions in transactions.
            </p>
            <!-- Biography -->
            <p class="text-left">
                Tim Cope ensures that quality standards are met during production. Using a developer mindset he performs functional and non-functional tests. He also wears an End-User hat as an advocate for the customer.
            </p>
            <p class="text-left">
                Tim is backed by years of hardware and software quality assurance as well as some education in Computer Science. His experience spans a multitude of environments and programming languages. This allows him to not only test, but to also automate tests and deployments.
            </p>
            <p class="text-left">
                In his free time, Tim works on side projects to learn more programming languages or just to brush up. At home, he enjoys spending time with his family; playing games, bicycling, and traveling.
            </p>
        </div>
        <div class="container">
            <h2 class="text-center">Development Stack History</h2>
            <br />
            <div class="card-deck mb-3 text-center">
                <!-- 'API' Card -->
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">API</h4>
                    </div>
                    <div class="card-body text-left">
                        <p>
                            <strong>ShopAtHome (2012 – 2013)</strong>
                            <ul>
                                <li>Fiddler to record and inspect network traffic</li>
                                <li>Validated requests against a SQL database</li>
                            </ul>
                        </p>
                        <p>
                            <strong>ICM (2013 – 2014)</strong>
                            <ul>
                                <li>C# Custom coded steps in Telerik Test Studio</li>
                                <li>Wrote a POSTMan-like WPF app to test DLL</li>
                            </ul>
                        </p>
                        <p>
                            <strong>Spire (2014 – 2016)</strong>
                            <ul>
                                <li>PowerShell + CSV test script allowed rapid development</li>
                                <li>JMeter and Telerik for Load Testing</li>
                            </ul>
                        </p>
                        <p>
                            <strong>Starz (2016 – 2018)</strong>
                            <ul>
                                <li>C# + NUnit framework and tests for backend services</li>
                                <li>Used POSTman to debug while developing tests</li>
                            </ul>
                        </p>
                        <p>
                            <strong>HICS (2018 – 2019)</strong>
                            <ul>
                                <li>Tested compiled exe that handled batch ETL</li>
                                <li>Automated download, unzip, and processing</li>
                            </ul>
                        </p>
                        <p>
                            <strong>Allegion (2019 – 2019)</strong>
                            <ul>
                                <li>Cucumber tests for mobile and web apis</li>
                                <li>Validated CocoaPod, Maven, and Nuget</li>
                            </ul>
                        </p>
                        <p>
                            <strong>CDC (2019 – Present)</strong>
                            <ul>
                                <li>Coded MS Dynamics 365 api helpers in C#</li>
                                <li>Validate requests seen in dev tools</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <!-- 'Mobile' Card -->
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Mobile</h4>
                    </div>
                    <div class="card-body text-left">
                        <p>
                            <strong>ShopAtHome (2012 – 2013)</strong>
                            <ul>
                                <li>Manually tested mobile version of site</li>
                                <li>Helped develop the inital release</li>
                            </ul>
                        </p>
                        <p>
                            <strong>ICM (2013 – 2014)</strong>
                            <ul>
                                <li>WPF app communcated with scanning devices</li>
                                <li>Manually tested on multiple consumer devices</li>
                            </ul>
                        </p>
                        <p>
                            <strong>Spire (2014 – 2016)</strong>
                            <ul>
                                <li>Manual test of Native and Hybrid apps</li>
                                <li>Some exposure to Appium doing PoCs</li>
                            </ul>
                        </p>
                        <p>
                            <strong>Starz (2016 – 2018)</strong>
                            <ul>
                                <li>C# + Appium framework and tests for Android and iOS</li>
                                <li>Started using Xamarin but switched to Appium</li>
                            </ul>
                        </p>
                        <p>
                            <strong>HICS (2018 – 2019)</strong>
                            <ul>
                                <li>"Look and Feel" testing on mobile browsers</li>
                                <li>Did discovery to find top devices and browers</li>
                            </ul>
                        </p>
                        <p>
                            <strong>Allegion (2019 – 2019)</strong>
                            <ul>
                                <li>SeeTest scripts for Android and iOS</li>
                                <li>Python + RaspberryPi for hardware tests</li>
                            </ul>
                        </p>
                        <p>
                            <strong>CDC (2019 – Present)</strong>
                            <ul>
                                <li>Provided support for Windows Platform app</li>
                                <li>Prepared a WinAppDriver Proof of Concept</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <!-- 'Web' Card -->
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Web</h4>
                    </div>
                    <div class="card-body text-left">
                        <p>
                            <strong>ShopAtHome (2012 – 2013)</strong>
                            <ul>
                                <li>Automated site regression using Telerik Test Studio</li>
                                <li>Wrote custom coded steps in C#, like using Fiddler proxy</li>
                            </ul>
                        </p>
                        <p>
                            <strong>ICM (2013 – 2014)</strong>
                            <ul>
                                <li>Automated site regression using Telerik Test Studio</li>
                                <li>Reduced regression cycle from 2 weeks to 2 hours</li>
                            </ul>
                        </p>
                        <p>
                            <strong>Spire (2014 – 2016)</strong>
                            <ul>
                                <li>Automated site regression using Telerik Test Studio</li>
                                <li>Wrote a Selenium IDE-like clone for JavaFX and Chrome</li>
                            </ul>
                        </p>
                        <p>
                            <strong>Starz (2016 – 2018)</strong>
                            <ul>
                                <li>C# + Selenium framework and tests for top browsers</li>
                                <li>Wrote a NodeJs api and site to help testers find test data</li>
                            </ul>
                        </p>
                        <p>
                            <strong>HICS (2018 – 2019)</strong>
                            <ul>
                                <li>C# + Selenium framework and tests for Chrome and IE</li>
                                <li>Tests created from old documents and user stories</li>
                            </ul>
                        </p>
                        <p>
                            <strong>Allegion (2019 – 2019)</strong>
                            <ul>
                                <li>Wrote and maintained api and site to faciliate testing</li>
                                <li>Wrote web frontend for the Python controlled RPi</li>
                            </ul>
                        </p>
                        <p>
                            <strong>CDC (2019 – Present)</strong>
                            <ul>
                                <li>C# + Selenium + Cucumber framework and tests</li>
                                <li>Prepared framework to use a cloud device farm</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>