<main role="main">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <img style="max-width: 85%; margin: 0 auto;" src="/public/img/timothy-cope.jpg" />
        <h1 class="display-4">About Timothy Cope</h1>
        <p class="lead text-muted">
            More than 7 years programming and quality assurance experience.
        </p>
        <p class="lead text-muted">
            Experience in both Agency/Start-up and Enterprise environments.
        </p>
        <p class="lead text-muted">
            Support projects with millions of users and billions in transactions.
        </p>
        <p class="text-left">
            Tim Cope ensures that quality standards are met during production. Using a developer mindset he performs Happy Path, Negative, Fuzz, Security, Conformance, and Accessibility testing. He also wears an End-User hat to perform Usability testing.
        </p>
        <p class="text-left">
            Tim is backed by years of hardware and software quality assurance as well as an education in Computer Science. His experience spans a multitude of environments and programming languages. This allows him to not only test, but to also automate tests and deployments.
        </p>
        <p class="text-left">
            In his free time, Tim works on side projects to learn more programming languages or just to brush up. At home, he enjoys spending time with his family; playing games, bicycling, and traveling.
        </p>
    </div>
</main>