<main role="main">
        <!-- Call To Action -->
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Experience Summary</h1>
                <p class="lead text-muted">
                    More than <%= Math.abs(new Date().getUTCFullYear() - 2012); %> years programming and quality assurance experience.<br />
                    Experience in Agency, Enterprise, Government, and Start-up.<br />
                    Support projects with millions of users and billions in transactions.
                </p>
                <p>
                    <a title="Read Blogs" href="/blog" class="btn btn-primary my-2"><i data-feather="message-square" style="margin-right:.25rem;"></i>Blog Posts</a>
                    <a title="Read Reviews" href="/reviews" class="btn btn-info my-2"><i data-feather="book" style="margin-right:.25rem;"></i>Book Reviews</a>
                    <a title="Email Tim" href="mailto:kirbycope@gmail.com" class="btn btn-secondary my-2"><i data-feather="mail" style="margin-right:.25rem;"></i>Email Tim</a>
                    <a title="YouTube Channel" href="mailto:kirbycope@gmail.com" class="btn btn-danger my-2"><i data-feather="youtube" style="margin-right:.25rem;"></i>YouTube Channel</a>
                </p>
            </div>
        </section>
        <!-- Project Cards -->
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row" id="projects">
                </div>
            </div>
        </div>
    </main>