<main role="main">
    <!-- Call To Action -->
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Experience Summary</h1>
            <p class="lead text-muted">
                More than 7 years programming and quality assurance experience.
                Experience in both Agency/Start-up and Enterprise environments.
                Support projects with millions of users and billions in transactions.
            </p>
            <p>
                <a title="Read Blog" href="/blog" class="btn btn-primary my-2"><i data-feather="message-square" style="margin-right:.25rem;"></i>Read Blog</a>
                <a title="Email Tim" href="mailto:inquiries@timothycope.com" class="btn btn-secondary my-2"><i data-feather="mail" style="margin-right:.25rem;"></i>Email Tim</a>
            </p>
        </div>
    </section>
    <!-- Project Cards -->
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row" id="projects">
            </div>
        </div>
    </div>
</main>