<main role="main" class="container">
    <!-- Reviews -->
    <h1 class="h2">Reviews</h1>
    <div id="reviews" class="row mb-2">
        <!-- Populated by [reviews.js]populateReviews() -->
    </div>
</main>