<!DOCTYPE html>
<html lang="en">
<%- include ./partials/head/blog.ejs %>
<body>
    <!-- Header -->
    <%- include ./partials/header/album.ejs %>
    <!-- Main -->
    <%- include ./partials/main/blog.ejs %>
    <!-- Footer -->
    <%- include ./partials/footer/blog.ejs %>
</body>
</html>