<!DOCTYPE html>
<html lang="en">
<%- include ./partials/head/dashboard.ejs %>
<body class="text-center">
    <!-- Header -->
    <%- include ./partials/header/dashboard.ejs %>
    <!-- Main -->
    <%- include ./partials/main/dashboard.ejs %>
    <!-- Footer -->
    <%- include ./partials/footer/dashboard.ejs %>
</body>
</html>