<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Software Development and Quality Assurance - Tap into years of experience to expand your company's capabilities in today's fast moving markets.">
    <meta name="author" content="Timothy Cope">

    <title>Timothy Cope</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/public/css/album.css" rel="stylesheet">
</head>

<body>
    <!-- Header -->
    <%- include ./partials/header.ejs %>

    <!-- Body-->
    <main role="main">
        <!-- Call To Action -->
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Experience Summary</h1>
                <p class="lead text-muted">
                    More than 7 years programming and quality assurance experience.
                    Experience in both Agency/Start-up and Enterprise environments.
                    Support projects with millions of users and billions in transactions.
                </p>
                <p>
                    <a style="" href="mailto:inquiries@timothycope.com" class="btn btn-primary my-2"><i data-feather="mail" style="margin-right:.25rem;"></i>Contact Timothy Cope</a>
                </p>
            </div>
        </section>
        <!-- Project Cards -->
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row" id="projects">
                </div>
            </div>
        </div>

    </main>

    <!-- Set JS variable based on data from Router -->
    <script>
        var data = <%- JSON.stringify(data) %>;
    </script>

    <!-- Footer -->
    <%- include ./partials/footer.ejs %>
</body>

</html>