<!DOCTYPE html>
<html lang="en">
<%- include ./partials/head.ejs %>
<body>
    <!-- Header -->
    <%- include ./partials/header.ejs %>
    <!-- Main -->
    <main role="main">
        <!-- Call To Action -->
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Experience Summary</h1>
                <p class="lead text-muted">
                    More than 7 years programming and quality assurance experience.
                    Experience in both Agency/Start-up and Enterprise environments.
                    Support projects with millions of users and billions in transactions.
                </p>
                <p>
                    <a title="Email Timothy" href="mailto:inquiries@timothycope.com" class="btn btn-primary my-2"><i data-feather="mail" style="margin-right:.25rem;"></i>Contact Timothy Cope</a>
                </p>
            </div>
        </section>
        <!-- Project Cards -->
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row" id="projects">
                </div>
            </div>
        </div>
    </main>
    <!-- Footer -->
    <%- include ./partials/footer.ejs %>
</body>
</html>