<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>timothy-cope</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/public/css/album.css" rel="stylesheet">
</head>

<body>

    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">

					<!-- About -->
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-muted">
							Tim Cope ensures that quality standards are met during production. Using a developer mindset he performs Happy Path, Negative, Fuzz, Security, Conformance, and Accessibility testing. He also wears an End-User hat to perform Usability testing.
							<br> Tim is backed by years of hardware and software quality assurance as well as an education in Computer Science. His experience spans a multitude of environments and programming languages. This allows him to not only test, but to also automate tests and deployments.
						</p>
                    </div>

					<!-- Contact -->
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled navbar-dark">
							<li style="color: #fff;"><a href="//github.com/kirbycope" class="d-flex align-items-center navbar-brand text-white"><i data-feather="github" style="margin-right:.25rem;"></i>Follow on GitHub</a></li>
                            <li style="color: #fff;"><a href="//www.linkedin.com/pub/timothy-cope/5a/10b/901" class="d-flex align-items-center navbar-brand text-white"><i data-feather="linkedin"	style="margin-right:.25rem;"></i>Connect on LinkedIn</a></li>
                            <li style="color: #fff;"><a href="mailto:inquiries@timothycope.com" class="d-flex align-items-center navbar-brand text-white"><i data-feather="mail" style="margin-right:.25rem;"></i>Email Tim</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <i data-feather="life-buoy" style="margin-right:.25rem;"></i>
                    <strong>Timothy Cope</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Experience Summary</h1>
                <p class="lead text-muted">
					More than 7 years programming and quality assurance experience.
					Experience in both Agency/Start-up and Enterprise environments.
					Support projects with millions of users and billions in transactions.
				</p>
                <p>
                    <a style="" href="mailto:inquiries@timothycope.com" class="btn btn-primary my-2"><i data-feather="mail" style="margin-right:.25rem;"></i>Contact Timothy Cope</a>
                </p>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">

					<!-- Row 1, Column 1 -->
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
							<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" src="/public/img/sdetqa.png" alt="Card image cap">
							<div class="card-body">
                                <p class="card-title">SDET|QA</p>
								<p class="card-text">Offers free, online SDET and QA training materials and tools.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
										<a href="http://sdetqa.com/" class="btn btn-sm btn-outline-secondary" role="button">Visit Site</a>
                                    </div>
                                    <small class="text-muted">NodeJS</small>
                                </div>
                            </div>
                        </div>
                    </div>

					<!-- Row 1, Column 2 -->
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
							<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" src="/public/img/testparser.png" alt="Card image cap">
							<div class="card-body">
                                <p class="card-title">Test Parser</p>
								<p class="card-text">A free, cloud-based test logging and parsing service.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
										<a href="https://TestParser.com/" class="btn btn-sm btn-outline-secondary" role="button">Visit Site</a>
                                    </div>
                                    <small class="text-muted">NodeJS</small>
                                </div>
                            </div>
                        </div>
                    </div>

					<!-- Row 1, Column 3 -->
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
							<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" src="/public/img/timothycope.png" alt="Card image cap">
							<div class="card-body">
                                <p class="card-title">TimothyCope.com</p>
								<p class="card-text">Quality Assurance Testing, Training, and Consulting Services.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
										<a href="http://TimothyCope.com/" class="btn btn-sm btn-outline-secondary" role="button">Visit Site</a>
                                    </div>
                                    <small class="text-muted">WordPress</small>
                                </div>
                            </div>
                        </div>
                    </div>

					<!-- Row 2, Column 1 -->
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
							<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" src="/public/img/bitbucket.png" alt="Card image cap">
							<div class="card-body">
                                <p class="card-title">BitBucket Projects</p>
								<p class="card-text">Review code in Timothy's public, open-source projects.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
										<a href="https://bitbucket.org/timothy_cope/" class="btn btn-sm btn-outline-secondary" role="button">Visit Site</a>
                                    </div>
                                    <small class="text-muted">Git</small>
                                </div>
                            </div>
                        </div>
                    </div>

					<!-- Row 2, Column 2 -->
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
							<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" src="/public/img/github.png" alt="Card image cap">
							<div class="card-body">
                                <p class="card-title">GitHub Projects</p>
								<p class="card-text">Review code in Timothy's public, open-source projects.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
										<a href="https://github.com/kirbycope/sdetqa-framework-c-sharp" class="btn btn-sm btn-outline-secondary" role="button">Visit Site</a>
                                    </div>
                                    <small class="text-muted">Git</small>
                                </div>
                            </div>
                        </div>
                    </div>

					<!-- Row 2, Column 3 -->
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
							<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" src="/public/img/stackexchange.png" alt="Card image cap">
							<div class="card-body">
                                <p class="card-title">SQA StackExchange</p>
								<p class="card-text">See Timothy's QA related answers on StackExchange.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
										<a href="https://sqa.stackexchange.com/users/11015/kirbycope" class="btn btn-sm btn-outline-secondary" role="button">Visit Site</a>
                                    </div>
                                    <small class="text-muted">StackExchange</small>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </main>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>&copy; Timothy Cope</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/feather-icons/4.10.0/feather.min.js"></script>
	<script>
      feather.replace()
    </script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.9.6/holder.min.js"></script>
	<script src="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>