<header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row"> 
                    <!-- About -->
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-muted">In his free time, Timothy works on side projects to learn more programming languages or just to brush up. At home, he enjoys spending time with his family; playing games, bicycling, and traveling.</p>
                    </div>
                    <!-- Contact -->
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled navbar-dark">
                            <li style="color: #fff;"><a title="Link to GitHub" href="//github.com/kirbycope" class="d-flex align-items-center navbar-brand text-white"><i data-feather="github" style="margin-right:.25rem;"></i>Follow on GitHub</a></li>
                            <li style="color: #fff;"><a title="Link to LinkedIn" href="//www.linkedin.com/pub/timothy-cope/5a/10b/901" class="d-flex align-items-center navbar-brand text-white"><i data-feather="linkedin" style="margin-right:.25rem;"></i>Connect on LinkedIn</a></li>
                            <li style="color: #fff;"><a title="Email Timothy" href="mailto:inquiries@timothycope.com" class="d-flex align-items-center navbar-brand text-white"><i data-feather="mail" style="margin-right:.25rem;"></i>Email Timothy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="Toggle Navbar" title="Open" class="navbar-brand d-flex align-items-center">
                    <i data-feather="life-buoy" style="margin-right:.25rem;"></i>
                    <strong>Timothy Cope</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>