<header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <!-- Internal Links -->
                    <div class="col-sm-8 col-md-7 py-4">
                        <!-- About -->
                        <a href="/about" title="About" style="text-decoration: none;"><h4 class="text-white">About</h4></a>
                        <p class="text-muted">Find out more about Timothy Cope</p>
                        <!-- Blog -->
                        <a href="/blog" title="Blog" style="text-decoration: none;"><h4 class="text-white">Blog</h4></a>
                        <p class="text-muted">Check out Timothy's blog posts</p>
                        <!-- Book Reviews -->
                        <a href="/reviews" title="Book Reviews" style="text-decoration: none;"><h4 class="text-white">Book Reviews</h4></a>
                        <p class="text-muted">Check out Timothy's book reviews</p>
                        <!-- CliftonStrengths -->
                        <a style="text-decoration: none;"><h4 class="text-white">CliftonStrengths</h4></a>
                        <p class="text-muted">Achiever | Learner | Responsibility | Harmony | Consistency</p>
                    </div>
                    <!-- External Links -->
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Links</h4>
                        <ul class="list-unstyled navbar-dark">
                            <li style="color: #fff;"><a title="Email Timothy" href="mailto:kirbycope@gmail.com" class="d-flex align-items-center navbar-brand text-white"><i data-feather="mail" style="margin-right:.25rem;"></i>Email Timothy</a></li>
                            <li style="color: #fff;"><a title="Link to GitHub" href="//github.com/kirbycope" class="d-flex align-items-center navbar-brand text-white"><i data-feather="github" style="margin-right:.25rem;"></i>GitHub Profile</a></li>
                            <li style="color: #fff;"><a title="Link to LinkedIn" href="//www.linkedin.com/pub/timothy-cope/5a/10b/901" class="d-flex align-items-center navbar-brand text-white"><i data-feather="linkedin" style="margin-right:.25rem;"></i>LinkedIn Profile</a></li>
                            <li style="color: #fff;"><a title="Link to StackExchange" href="//sqa.stackexchange.com/users/11015/kirbycope" class="d-flex align-items-center navbar-brand text-white"><i data-feather="aperture" style="margin-right:.25rem;"></i>StackExchange Profile</a></li>
                            <li style="color: #fff;"><a title="Link to YouTube" href="//www.youtube.com/c/TimothyCopedotcom" class="d-flex align-items-center navbar-brand text-white"><i data-feather="youtube" style="margin-right:.25rem;"></i>YouTube Channel</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="/" title="Home" class="navbar-brand d-flex align-items-center">
                    <i data-feather="life-buoy" style="margin-right:.25rem;"></i>
                    <strong>Timothy Cope</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>